.container {
    width: 980px;
    margin: 0 auto;
    font-style: italic;
    font-size: 20px;
    font-family: Arial;
    line-height: 28px;    
}

.clearfix {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.strong {
    font-weight: 700;
}

.special {
    color: rgb(255,197,13);
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.button-webToy {
    display: block;
    background: url(images/button-webToy.png);
    width: 465px;
    height: 117px;
    margin: 40px auto 0;
    cursor: url(images/cursor-pointer.png), auto;
}

.button-inUse {
    display: block;
    background: url(images/button-inUse.png);
    width: 465px;
    height: 117px;
    margin: 40px auto 0;
    cursor: url(images/cursor-pointer.png), auto;
}

.button-animation {
    display: block;
    background: url(images/button-animation.png);
    width: 465px;
    height: 117px;
    margin: 40px auto 100px;
    cursor: url(images/cursor-pointer.png), auto;
}